.container-fluid {
    background-color: #333333;
    height: 100vh;
    color: white;
}

.submitButton {
    /* background-color: green; */
    bottom: 5%;
    width: 100%;
    position: absolute;
}

button {
    color: white;
    margin-top: 15px;
    margin-bottom: 15px;
    height: 100px;
    width: 100px;
    border-radius: 50%!important;
    border: 1px solid grey!important;
    background-image: linear-gradient(#6495ed, #333333);
}