#correctAnswer, #scoreBoardButton, #nextQuestionButton, #finalAnswer, #noAnswer {
    display: none;
}

.container-fluid {
    background-image: linear-gradient(to bottom right, #333333, #968f95, #333333);
    height: 100vh;
    color: white;
}

/* Hide the browser's default radio button */
input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

label {
    margin-top: 10%;
    padding: 5% 0;
    height: 60px;
    width: 100%;
    background-color: #007f00a6;
    font-size: 20px;
    border-radius: 5px;
    border-style: solid;
    border-color: #007f00ea;
    letter-spacing: 2px;
}

.submitButton {
    bottom: 5%;
    width: 100%;
    position: absolute;
}

button {
    color: white;
    margin-top: 15px;
    margin-bottom: 15px;
    height: 100px;
    width: 100px;
    border-radius: 50%!important;
    border: 1px solid grey!important;
    background-image: linear-gradient(#6495ed, #333333);
}

#submitButton {
    /* animation-name: pulse; */
    /* animation-duration: 1s; */
    /* animation-iteration-count: infinite; */
}
@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 #cca92c66;
        box-shadow: 0 0 0 0 #cca92c66;
    }
    70% {
        -moz-box-shadow: 0 0 0 10px #cca92c00;
        box-shadow: 0 0 0 10px #cca92cab;
    }
    100% {
        -moz-box-shadow: 0 0 0 0 #cca92c00;
        box-shadow: 0 0 0 0 #cca92c00;
    }
}

#percentage {
    animation: none 1s infinite;
}

@keyframes pulseletterfail {
    0% {
        color: #ff1100;
        opacity: 1;
        text-shadow: -2px 0 #ff1100, 0 2px #ff1100, 2px 0 #ff1100, 0 -2px #ff1100;
    }
    50% {
        color: #ff1100;
        opacity: 0.4;
        text-shadow: none;
    }
    100% {
        color: #ff1100;
        opacity: 1;
        text-shadow: -2px 0 #ff1100, 0 2px #ff1100, 2px 0 #ff1100, 0 -2px #ff1100;
    }
}

@keyframes pulselettergood {
    0% {
        color: #FFD700;
        opacity: 1;
        text-shadow: -2px 0 #FFD700, 0 2px #FFD700, 2px 0 #FFD700, 0 -2px #FFD700;
    }
    50% {
        color: #FFD700;
        opacity: 0.4;
        text-shadow: none;
    }
    100% {
        color: #FFD700;
        opacity: 1;
        text-shadow: -2px 0 #FFD700, 0 2px #FFD700, 2px 0 #FFD700, 0 -2px yellow;
    }
}