#correctAnswer, #scoreBoardButton, #nextQuestionButton, #finalAnswer, #noAnswer {
    display: none;
}

.container-fluid {
    background-color: #333333;
    height: 100vh;
    color: white;
}

/* Hide the browser's default radio button */
input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

label {
    margin-top: 10%;
    padding: 5% 0;
    height: 60px;
    width: 100%;
    background-color: #007f00a6;
    font-size: 20px;
    border-radius: 5px;
    border-style: solid;
    border-color: #007f00ea;
    letter-spacing: 2px;
}

.submitButton {
    bottom: 5%;
    width: 100%;
    position: absolute;
}

button {
    margin-top: 15px;
    margin-bottom: 15px;
    height: 100px;
    width: 100px;
    border-radius: 50%!important;
    background-color: cornflowerblue;
}

#submitButton {
    /* animation-name: pulse; */
    /* animation-duration: 1s; */
    /* animation-iteration-count: infinite; */
}
@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 #cca92c66;
        box-shadow: 0 0 0 0 #cca92c66;
    }
    70% {
        -moz-box-shadow: 0 0 0 10px #cca92c00;
        box-shadow: 0 0 0 10px #cca92cab;
    }
    100% {
        -moz-box-shadow: 0 0 0 0 #cca92c00;
        box-shadow: 0 0 0 0 #cca92c00;
    }
}

